<template>
  <div class="coin-type" @click="CheckName()">
    <div class="icon">
      <img v-bind:src="require(`../assets/${imgName}`)" alt="icon" />
      <span>{{ coinName }}</span>
    </div>
    <div class="value-col">
      <div class="currency">
        <h4>USD:</h4>
        <span>{{ currencyUSD }}</span>
      </div>
      <div class="currency">
        <h4>UAH:</h4>
        <span>{{ currencyUAH }}</span>
      </div>
      <div class="currency">
        <h4>RUB:</h4>
        <span>{{ currencyRUB }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "coinType",
  props: [
    "imgName",
    "coinName",
    "currencyUSD",
    "currencyUAH",
    "currencyRUB",
    "onClick",
  ],
  data() {
    return {};
  },
  methods: {
    CheckName() {
      this.onClick(this.coinName);
    },
  },
};
</script>