<template>
  <div class="exchange">
    <div class="coin-types">
      <coin-type
        img-name="BTC.png"
        coin-name="BTC"
        :currencyUSD="coin.btc"
        :currencyUAH="uah.btc"
        :currencyRUB="rub.btc"
        :onClick="onClick"
      ></coin-type>
      <coin-type
        img-name="ETH.png"
        coin-name="ETH"
        :currencyUSD="coin.eth"
        :currencyUAH="uah.eth"
        :currencyRUB="rub.eth"
        :onClick="onClick"
      ></coin-type>
      <coin-type
        img-name="XRP.png"
        coin-name="XRP"
        :currencyUSD="coin.xrp"
        :currencyUAH="uah.xrp"
        :currencyRUB="rub.xrp"
        :onClick="onClick"
      ></coin-type>
    </div>
    <div class="selected-coin">
      <p>Selected coin: {{ selectedCoin }}</p>
    </div>
    <div class="volume-holder">
      <div class="input-row">
        <p>Volume</p>
        <el-input placeholder="Please input" v-model="bougthValue"></el-input>
      </div>
      <div class="select-currency">
        <p
          class="currency-item"
          @click="selectedCurrency = 'UAH'"
          :class="{ active: selectedCurrency == 'UAH' }"
        >
          UAH
        </p>
        <p
          class="currency-item"
          @click="selectedCurrency = 'USD'"
          :class="{ active: selectedCurrency == 'USD' }"
        >
          USD
        </p>
        <p
          class="currency-item"
          @click="selectedCurrency = 'RUB'"
          :class="{ active: selectedCurrency == 'RUB' }"
        >
          RUB
        </p>
      </div>
    </div>
    <p class="coin-price" v-show="selectedCoin.length && bougthValue.length">
      {{ bougthValue }} {{ selectedCoin }} will be {{ valueCoin }} in
      {{ selectedCurrency }}
    </p>
  </div>
</template>

<script>
import axios from "axios";
import coinType from "./CoinType";

export default {
  components: {
    coinType,
  },
  data() {
    return {
      coin: {
        btc: "loading..",
        eth: "loading..",
        xrp: "loading..",
      },
      uah: {
        usd: "",
        btc: "loading..",
        eth: "loading..",
        xrp: "loading..",
      },
      rub: {
        usd: "",
        btc: "loading..",
        eth: "loading..",
        xrp: "loading..",
        uah: "",
      },
      selectedCoin: "",
      selectedCurrency: "UAH",
      bougthValue: "",
    };
  },
  methods: {
    GetActuallyCoinsValue() {
      axios
        .get("https://api.coincap.io/v2/assets")
        .then((response) => {
          this.FindAllCoins(response.data.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    GetActuallyCurrency() {
      axios
        .get(
          "https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11"
        )
        .then((response) => {
          this.PriceInUSD(response.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    FindAllCoins(arr) {
      for (let coin of arr) {
        if (coin.id == "bitcoin") {
          this.coin.btc = Number(coin.priceUsd).toFixed(2);
        }
        if (coin.id == "ethereum") {
          this.coin.eth = Number(coin.priceUsd).toFixed(2);
        }
        if (coin.id == "xrp") {
          this.coin.xrp = Number(coin.priceUsd).toFixed(2);
        }
      }
    },
    PriceInUSD(data) {
      data.find((item) => {
        if (item.base_ccy == "UAH" && item.ccy == "USD") {
          this.uah.usd = Number(item.buy).toFixed(2);
        }
        if (item.base_ccy == "UAH" && item.ccy == "RUR") {
          this.rub.uah = 1 / Number(item.buy).toFixed(2);
          this.rub.usd = this.uah.usd * this.rub.uah;
        }
      });
      this.PriceInCoin();
    },
    PriceInCoin() {
      this.rub.btc = (this.rub.usd * this.coin.btc).toFixed(2);
      this.uah.btc = (this.uah.usd * this.coin.btc).toFixed(2);

      this.uah.eth = (this.uah.usd * this.coin.eth).toFixed(2);
      this.rub.eth = (this.rub.usd * this.coin.eth).toFixed(2);

      this.uah.xrp = (this.uah.usd * this.coin.xrp).toFixed(2);
      this.rub.xrp = (this.rub.usd * this.coin.xrp).toFixed(2);
    },
    onClick(data) {
      this.selectedCoin = data;
    },
    CheckSelectedCoin() {
      let value = 0;
      if (this.selectedCoin == "BTC") {
        value = this.CountValueBtcInCurrency();
      }
      if (this.selectedCoin == "ETH") {
        value = this.CountValueEthInCurrency();
      }
      if (this.selectedCoin == "XRP") {
        value = this.CountValueXrpInCurrency();
      }
      return value;
    },
    CountValueBtcInCurrency() {
      let value = 0;
      if (this.selectedCurrency == "UAH") {
        value = this.bougthValue * this.uah.btc;
      }
      if (this.selectedCurrency == "USD") {
        value = this.bougthValue * this.coin.btc;
      }
      if (this.selectedCurrency == "RUB") {
        value = this.bougthValue * this.rub.btc;
      }
      return value.toFixed(2);
    },
    CountValueEthInCurrency() {
      let value = 0;
      if (this.selectedCurrency == "UAH") {
        value = this.bougthValue * this.uah.eth;
      }
      if (this.selectedCurrency == "USD") {
        value = this.bougthValue * this.coin.eth;
      }
      if (this.selectedCurrency == "RUB") {
        value = this.bougthValue * this.rub.eth;
      }
      return value.toFixed(2);
    },
    CountValueXrpInCurrency() {
      let value = 0;
      if (this.selectedCurrency == "UAH") {
        value = this.bougthValue * this.uah.xrp;
      }
      if (this.selectedCurrency == "USD") {
        value = this.bougthValue * this.coin.xrp;
      }
      if (this.selectedCurrency == "RUB") {
        value = this.bougthValue * this.rub.xrp;
      }
      return value.toFixed(2);
    },
  },
  computed: {
    valueCoin() {
      return this.CheckSelectedCoin();
    },
  },
  watch: {
    bougthValue: function (val) {
      if (!val.match("^[0-9]+$")) {
        this.bougthValue = val.split("").splice(val.length).join("");
      }
    },
  },
  mounted() {
    this.GetActuallyCoinsValue();
    this.GetActuallyCurrency();
  },
};
</script>
