<template>
  <div id="app">
    <Exchange />
  </div>
</template>

<script>
import Exchange from "./components/Exchange.vue";

export default {
  name: "App",
  components: {
    Exchange,
  },
};
</script>

