*, *:before, *:after
  box-sizing: border-box
  outline: none

body, p, figure, h1, h2, h3, h4, h5, h6
  margin: 0

video
  margin: 0
  padding: 0

ul, dl, menu
  margin: 0
  padding: 0
  list-style: none

input[type="search"]::-webkit-search-cancel-button
  display: none

button
  outline: none
  border: none
  padding: 0
  cursor: pointer
  background: transparent
  font-size: inherit
  line-height: inherit

input, select
  outline: none
  border: none
  border-radius: 0
  -webkit-appearance: none
  font-size: inherit
  background: none

button, input, textarea
  -webkit-appearance: none
  margin: 0
  font-family: inherit
  color: inherit
  font-size: inherit
  border: none
  resize: none
  line-height: inherit
  &::placeholder
    color: inherit
  &:focus, &:active
    outline: none

address
  font-style: normal
  font-size: inherit
  color: inherit
  line-height: inherit

a
  text-decoration: none
  cursor: pointer
  overflow-wrap: break-word
  color: inherit

i
  font-style: normal

img
  max-width: 100%
  vertical-align: middle
  border: none

svg
  width: 100%
  height: 100%

@mixin bp($point, $type: min)
  @media screen and (#{$type}-width: #{$point}px)
    @content


.exchange 
  min-height: 100vh 
  padding: 5vw 5vw 40px
  background: #06162e
  display: flex 
  flex-direction: column 
  align-items: center 
  justify-content: center
  font-family: sans-serif

  .coin-types 
    @include bp(768, min)
      display: grid 
      grid-template-columns: repeat(3, 1fr)
      grid-column-gap: 20px
  
  .coin-type
    display: flex 
    background: #0d2f52
    padding: 20px 20px 40px
    cursor: pointer
    margin-bottom: 20px
    .icon
      flex: 0 0 50px 
      margin-right: 30px
      text-align: center
      color: #86c551
      font-family: sans-serif 
      font-size: 12px
      img 
        margin-bottom: 10px 


    .currency 
      display: grid 
      grid-template-columns: 50px 1fr
      grid-column-gap: 5px
      font-family: sans-serif
      width: 100%
      color: #7dacf3
      margin-bottom: 10px

      h4 
        font-family: sans-serif
        font-weight: 600

  .selected-coin 
    margin-top: 40px
    color: #7dacf3
    font-size: 20px 
    font-weight: 500 
    margin-bottom: 40px

  .coin-price
    margin-top: 40px
    color: #86c551
    text-transform: uppercase
    font-size: 16px

  .volume-holder 
    background: #06162e
    display: flex 
    align-items: center 
    justify-content: center 
    flex-direction: column
    max-width: 500px
    width: 100%
    .input-row 
      color: #6ca148 
      display: grid 
      grid-template-columns: auto 1fr
      grid-column-gap: 20px
      align-items: center
      width: 100%
      margin-bottom: 40px

    .el-input__inner
      padding: 5px 10px
      border-color: #09304f
      border-radius: 0
      background: #06162e
      color: #7dacf3 

      &::placeholder 
        color: #7dacf3

    .select-currency 
      display: grid 
      grid-template-columns: repeat(3, 1fr)
      grid-column-gap: 20px 
      width: fit-content 
      align-items: center 
      justify-content: center 
      .currency-item 
        display: flex 
        align-items: center 
        justify-content: center 
        padding: 10px
        text-transform: uppercase
        background: #0d2f52 
        color: #7ebb51 
        font-weight: 600
        transition: all .5s ease 
        cursor: pointer
        &.active 
          color: #0d2f52 
          background: #7ebb51 